.group{
    z-index: 9;
}

.circle1{
    background-color: #DD8A23;
    width: 423px;
    height: 423px;
    border-radius: 50%;
    position: fixed;
    left: -60px;
    top: -191px;
    
   
}

.circle2{
    background-color: #DD8A23;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    left: 363px;
    top: 142px;
    
}

.circle3{
    background-color: #DD8A23;
    width: 423px;
    height: 423px;
    border-radius: 50%;
    position: fixed;
    left: -216px;
    top: 586px;
    
}
