.addNote{
    width: 307px;
    height: 66px;    
}


.noteInput {
    position: absolute;
    width: 307px;
    height: 66px;
    left: 53px;
    top: 149px;

    background-color: white;
    border: 5px solid #DD8A23;
    border-radius: 20px;
    color: black;
}



.addBtn{
    position: absolute;
    width: 87px;
    height: 56px;
    left: 268px;
    top: 154px;
    
    background: #FFC100;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.boxes {
    display: flex;
    margin-top: 50%;
    margin-left: 3px;
    gap: 8px;
    flex-wrap: wrap;
    overflow-y: visible;
    
   
}

.box1 {
    background: #FFFFFF;
    border: 5px solid #DD8A23;
    border-radius: 30px;
    width: 188px;
    height: 180px;
    z-index: 1;
}